.main-container{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.box{
	width:100px;
	height:100px;
	color:black;
	font-size:40px;
}
.bg--1{
	background-color:green;
}
.bg--2{
	background-color:red;
}.bg--3{
	background-color:blue;
}
/* Your CSS Code here. */